<a href="https://colab.research.google.com/github/yalla1/Images/blob/main/HelloWorldPythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Turtle cheatsheet**

In [ ]:




# import turtle            -> import turle library/module
# turtle.Screen()          -> Create and return a screen object
# wn.bgcolor("color")      -> Set window background color
# t.shape("turtle")        -> Set turtle shape
# t.speed(0–10)            -> Set animation speed
# t.color(pen, fill)       -> Set pen and fill colors
# t.forward(), t.left()    -> Move turtle
# t.stamp()                -> Leave turtle shape stamp
# t.dot(size, color)       -> Draw a dot
# t.begin_fill(), end_fill() -> Fill a drawn shape
# wn.exitonclick()         -> Wait for click to close the window

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Write a program that uses the turtle module **and** a for loop to draw something. It doesn’t have to be complicated, but draw something different than we have done in the past. (Hint: if you are drawing something complicated, it could get tedious to watch it draw over and over. Try setting `.speed(10)` for the turtle to draw fast, or `.speed(0)` for it to draw super fast with no animation.)

Create an empty string and assign it to the variable `lett`. Then using range, write code such that when your code is run, lett has 7 b’s ("`bbbbbbb`").

In [ ]:
lett=""
for l in range(7):
  lett = lett + "b"
print(lett)

bbbbbbb

Write code to create a l**ist of word lengths** for the words in `original_str` using the accumulation pattern and assign the answer to a variable `num_words_list`. (You should use the `len` function).

In [ ]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
words = original_str.split()
num_words_list = []

for word in words:
  word_lengths = [len(word)]
  num_words_list=num_words_list + word_lengths ## list Concatenation
  # print(word_lengths)
print(num_words_list)

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

Write code to create a list of numbers from 0 to 67 and assign that list to the variable nums. Do not hard code the list.

In [ ]:
first = "Hello"
second = "World"

# Combine into a list
result_list = [first, second]

print(result_list)

['Hello', 'World']

In [ ]:
nums=list(range(68))
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67]

In [ ]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temps = week_temps_f.split(',')
n=0
for temp in temps:
    n=n+1
    print(n)

1
2
3
4
5
6
7

In [ ]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temps = week_temps_f.split(',')
avg_temp = 0.0
temp_sum = 0.0
n=0
print(temps)
for temp in temps:
    temp = float(temp)
    temp_sum = float(temp_sum + temp)
    n=n+1
    avg_temp = float(temp_sum/n)
    print('n = ', n, "temp_sum = ", temp_sum, "average = ",avg_temp)
print('Average = ', avg_temp)



# b = "My, what a lovely day"
# x = b.split(',')
# z = ''.join(x)
# y = z.split()

# a = "".join(y)
# print(x)
# print(z)
# print(y)
# print(a)

['75.1', '77.7', '83.2', '82.5', '81.0', '79.5', '85.7']
n =  1 temp_sum =  75.1 average =  75.1
n =  2 temp_sum =  152.8 average =  76.4
n =  3 temp_sum =  236.0 average =  78.66666666666667
n =  4 temp_sum =  318.5 average =  79.625
n =  5 temp_sum =  399.5 average =  79.9
n =  6 temp_sum =  479.0 average =  79.83333333333333
n =  7 temp_sum =  564.7 average =  80.67142857142858
Average =  80.67142857142858

In [ ]:
red = "colors"
for blue in red:
    print(blue)

c
o
l
o
r
s

In [ ]:
n = ["word", "phrase", 8, ("beam")]
for item in n:
    print(item)

print(type(n))

word
phrase
8
beam
<class 'list'>

# **Read and display images**


1.   Install colabTurle
2.   List item

In [ ]:
!pip3 install ColabTurtle

Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7643 sha256=7b842e4db36032cdee873970d687f0df93db28d4715e53f927ddc0cedfdcbafc
  Stored in directory: /root/.cache/pip/wheels/f6/9e/81/137e7da25129474562d30f8660be599e5c8d79228cb747e5b9
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
import ColabTurtle.Turtle as star
star.initializeTurtle()

In [ ]:

star.pencolor("yellow")
star.pensize(10)
star.hideturtle()
#star.shape("circle")
star.speed(3)

dist = 50
for _ in range(5):
    star.forward(dist)
    star.left(72)
    #star.stamp()
    star.forward(dist)
    star.right(144)
    #star.stamp()

t = (5,)
print(type(t))

x = (5)
print(type(x))

<class 'tuple'>
<class 'int'>

In [ ]:
import turtle
wn = turtle.Screen()
wn.bgcolor("black")

star = turtle.Turtle()
star.setx(-75)
star.pencolor("yellow")
star.pensize(10)
star.hideturtle()
#star.shape("circle")
star.speed(3)


dist = 50
for _ in range(5):
    star.forward(dist)
    star.left(72)
    #star.stamp()
    star.forward(dist)
    star.right(144)
    #star.stamp()

t = (5,)
print(type(t))

x = (5)
print(type(x))

ValueError: new x position must be non-negative.

In [ ]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(5):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
s = "python"
for idx in range(len(s)):
   print(s[idx % 2])

p
y
p
y
p
y

Create a list of numbers 0 through 40 and assign this list to the variable numbers. Then, accumulate the total of the list’s values and assign that sum to the variable sum1.

In [ ]:
numbers = list(range(41))
sum1 = 0
for s in numbers:
  sum1=sum1+s
print(sum1)

820

In [ ]:
str1 = "I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living."
numbs = 0
for s in str1:
  numbs=numbs+1
print(numbs)

90

In [ ]:
numbers = list(range(53))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]

In [ ]:
print("simple range: ",(range(10)))
print(list(range(3)))

simple range:  range(0, 10)
[0, 1, 2]

In [ ]:
for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    print("Hi", name, "Please come to my party on Saturday!")

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Brad Please come to my party on Saturday!
Hi Angelina Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!
Hi Thandi Please come to my party on Saturday!
Hi Paris Please come to my party on Saturday!

In [ ]:
b = "My, what a lovely day"
x = b.split(',')
z = ''.join(x)
y = z.split()

a = "".join(y)
print(x)
print(z)
print(y)
print(a)

['My', ' what a lovely day']
My what a lovely day
['My', 'what', 'a', 'lovely', 'day']
Mywhatalovelyday

In [ ]:
b = "My, what a lovely day"
x = b.split(',')
print(x)
print(type(x))

b = "My, what a lovely day"
x = b.split(',')
z = "".join(x)
y = z.split()


print("")
print("VALUE OF Z: ",z)
print("")
print("VALUE OF y: ",y)
print("")
print("VALUE OF a: ",a)
print(type(a))

['My', ' what a lovely day']
<class 'list'>

VALUE OF Z:  My what a lovely day

VALUE OF y:  ['My', 'what', 'a', 'lovely', 'day']

VALUE OF a:  Mywhatalovelyday
<class 'str'>

In [ ]:
l = ['w', '7', 0, 9]
m = l[1:2]
print(type(m))

l = ['w', '7', 0, 9]
m = l[1]
print(type(m))

<class 'list'>
<class 'str'>

In [ ]:
ls = ['run', 'world', 'travel', 'lights', 'moon', 'baseball', 'sea']
new = ls[2:4]
print(new)

['travel', 'lights']

In [ ]:
by = "You are"
az = "doing a great "
io = "job"
qy = "keep it up!"
message = by + " " + az + io + ", " + qy
print(message)

You are doing a great job, keep it up!

In [ ]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
last = sports[-3:-1]
print(last)

['curling', 'ping pong']

In [ ]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia[2])
print(julia[2:6])

print(len(julia))

julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
print(julia)

1967
(1967, 'Duplicity', 2009, 'Actress')
7
('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

In [ ]:
import turtle
wn = turtle.Screen()
wn.bgcolor("black")

star = turtle.Turtle()
star.setx(-75)
star.pencolor("yellow")
star.pensize(10)
star.hideturtle()
#star.shape("circle")
star.speed(3)


dist = 50
for _ in range(5):
    star.forward(dist)
    star.left(72)
    #star.stamp()
    star.forward(dist)
    star.right(144)
    #star.stamp()

TclError: no display name and no $DISPLAY environment variable

In [ ]:
x=10//3
print(x)
print(10//3)

3
3

In [ ]:

print("doesn't")
print('''doesn't''')
print('Python'[2:5])
print(len('supercalifragilisticexpialidocious'))


text = "Good morning!"
print(text[0])
print(text[1])
print(text[2])
print(text[3])
print(text[4])
print(text[5])

squares = [1, 4, 9, 16, 25]
print(squares[0:3])
print(squares[-3:])
print(squares[-3:-6:-1])

doesn't
doesn't
tho
34
G
o
o
d

m
[1, 4, 9]
[9, 16, 25]
[9, 4, 1]

In [ ]:
code = int(input("Enter a number: "))
match code:
    case 200:
        print("OK")
    case 404:
        print("Not Found")
    case _:
        print("Other")

enter a number: 200
OK

In [ ]:
for i in range(3):
    if i == 2:
        print(range(i))
        print("Break occurred")
        break

else:
    print("No break occurred")

range(0, 2)
Break occurred

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 1
Single

In [ ]:
x = int(input("please enter an integer: "))

if x < 0:
  x = 0
  print('Negative changed to zero')
elif x == 0:
  print('Zero')
elif x == 1:
  print("single")
else:
  print("more")

please enter an integer: 42
more

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
'"Yes," they said.'

'"Yes," they said.'

In [ ]:

"doesn't"  # ...or use double quotes instead

"doesn't"

In [ ]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

round(_, 2)

113.06

In [ ]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

Assign the value of the last chacter of lst to the variable output. Do this so that the length of lst doesn’t matter.

In [ ]:
lst = "Every chess or checkers game begins from the same position and has a finite number of moves that can be played. While the number of possible scenarios and moves is quite large, it is still possible for computers to calculate that number and even be programmed to respond well against a human player..."
output = lst[-1]
print(output)

.

Assign the number of elements in lst to the variable num_lst.

In [ ]:
lst = ["hi", "goodbye", "python", "106", "506", 91, ['all', 'Paul', 'Jackie', "UMSI", 1, "Stephen", 4.5], 109, "chair", "pizza", "wolverine", 2017, 3.92, 1817, "account", "readings", "papers", 12, "facebook", "twitter", 193.2, "snapchat", "leaders and the best", "social", "1986", 9, 29, "holiday", ["women", "olympics", "gold", "rio", 21, "2016", "men"], "26trombones"]
num_lst=len(lst)
print(num_lst)

30

Create a new list using the 9th through 12th elements (four items in all) of new_lst and assign it to the variable sub_lst.

In [ ]:
new_lst = ["computer", "luxurious", "basket", "crime", 0, 2.49, "institution", "slice", "sun", ["water", "air", "fire", "earth"], "games", 2.7, "code", "java", ["birthday", "celebration", 1817, "party", "cake", 5], "rain", "thunderstorm", "top down"]

sub_lst=new_lst[8:12]
print(sub_lst)

['sun', ['water', 'air', 'fire', 'earth'], 'games', 2.7]

What will be stored in the variable ty below?

In [ ]:
qu = "wow, welcome week! Were you wanting to go?"
ty = qu.count("we")
print(ty)

2

Create a variable output and assign to it a list whose elements are the words in the string str1.

In [ ]:
str1 = "OH THE PLACES YOU'LL GO"
output = str1.split()
print(output)

['OH', 'THE', 'PLACES', "YOU'LL", 'GO']

How many times will the for loop iterate in the following statements?

In [ ]:
p = [3, 4, "Me", 3, [], "Why", 0, "Tell", 9.3]
for ch in p:
   print(ch)

3
4
Me
3
[]
Why
0
Tell
9.3

Create a list of numbers 0 through 40 and assign this list to the variable numbers. Then, accumulate the total of the list’s values and assign that sum to the variable sum1.

In [ ]:
numbers=list(range(0,41))
sum1=0
for number in numbers:
  #print(number)
  sum1 += number
print(sum1)

820

addition_str is a string with a list of numbers separated by the + sign. Write code that uses the accumulation pattern to take the sum of all of the numbers and assigns it to sum_val (an integer). (You should use the .split("+") function to split by "+" and int() to cast to an integer).

In [ ]:
addition_str = "2+5+10+20"
addition_str = addition_str.split("+")
sum_val = 0
for number in addition_str:
  sum_val += int(number)
print(sum_val)

37

What is the type of your iterable?
1. z = Iterator Variable
1. t = iterable

In [ ]:
t = ("couch", "chair", "washer", "dryer", "table")
for z in t:
    print(z)